appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
autopep8==1.5.5
boto3==1.17.14
botocore==1.20.14
distlib==0.3.1
dj-database-url==0.5.0
Django==2.2.7
django-crispy-forms==1.8.1
django-extensions==2.2.8
django-filter==2.4.0
django-storages==1.11.1
et-xmlfile==1.0.1
filelock==3.0.12
gunicorn==20.0.4
isort==5.7.0
jdcal==1.4.1
jmespath==0.10.0
lazy-object-proxy==1.4.3
lxml==4.5.0
mccabe==0.6.1
numpy==1.18.1
openpyxl==3.0.3
pandas==1.0.1
Pillow==7.0.0
pycodestyle==2.6.0
pylint==2.6.0
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2019.3
reportlab==3.5.59
s3transfer==0.3.4
six==1.14.0
sqlparse==0.3.0
toml==0.10.2
urllib3==1.26.3
virtualenv==20.4.2
virtualenvwrapper-win==1.2.6
whitenoise==5.0.1
wrapt==1.12.1
